name: Infinite Test

on:
  push:
    branches:
      - main

jobs:
  resilience-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.6'

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make

      - name: Create Downloads directory
        run: mkdir -p ~/Downloads

      - name: Run dataset download
        run: make download_full_dataset

      - name: Generate infinite compose file
        run: make generar-compose-infinite

      - name: Run with chaos and verify results
        run: |
          make chaos &
          make run_infinite_setup
